<!doctype html>
<html>

<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% block heading %}{% endblock %}
        </div>
    </div>

    <div class="container" id="form_container">
        <form id="theForm">
            <div class="form-group">
                <label for="name">Gender:</label>
                <select class="form-control" name="name" required>
                    <option value="" disabled selected>Select your gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <small class="form-text text-muted">Required*</small>
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <input class="form-control" type="text" readonly name="type" unselectable="on" value="{{ type }}">
            </div>
            {% block form_questions %}{% endblock %}
            <input type="text" name="formid" value="{{ form_id }}" hidden>
            <input type="text" name="thank" value="Thank you again for participating in this experiment! There are two experiments. Please make sure you participate in both. " hidden>
            <input class="btn btn-info btn-lg" type="submit" value="Submit Results" id="submitBtn">
            <p class="text-muted">
                <small>If you encounter any issues submitting the results, please double-check if you have filled in your name and answered every question. Thank you.</small>
            </p>
        </form>
</div>

    <div class="container" style="padding-top: 60px;">
        <p class="text-center text-muted">&copy; CHI, MRI, TUM</p>
    </div>

<script>
        document.getElementById('theForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 防止表单默认提交

            // 获取所有问题的容器
            const questions = document.querySelectorAll('.question');
            let textData = '';
            textData += `Gender,${document.querySelector('select[name="name"]').value},\n`;

            questions.forEach(question => {
                // 获取问题ID
                const questionId = question.getAttribute('data-question-id');
                
                // 获取该问题的最佳选择 (Best choice)
                const bestSelectedOption = question.querySelector('input[type="radio"]:checked.best-keyword');
                const bestValue = bestSelectedOption ? bestSelectedOption.value : "None";  // If not selected, use "None"

                // 获取该问题的第二佳选择 (Second best choice)
                const secondBestSelectedOption = question.querySelector('input[type="radio"]:checked.second-best-keyword');
                const secondBestValue = secondBestSelectedOption ? secondBestSelectedOption.value : "None";  // If not selected, use "None"
                
                // 记录选择的值
                const questionName = question.getAttribute('data-question-name');
                textData += `Question-${questionId}-${questionName},${bestValue},${secondBestValue}\n`;
            });


            // 创建 Blob 对象
            const blob = new Blob([textData], { type: 'text/plain' });

             // 获取文件名
            const fileNameInput = document.querySelector('input[name="type"]');
            const baseFileName = fileNameInput.value || 'survey_results';

            // Generating a unique suffix using a timestamp and a random string
            const uniqueSuffix = `${Date.now()}-${Math.random().toString(36).substr(2, 9)}`;

            // Combine base filename and unique suffix
            const fileName = `${baseFileName}_${uniqueSuffix}`;


            // 创建链接元素
            const a = document.createElement('a');
            a.href = URL.createObjectURL(blob);
            a.download = `${fileName}.txt`;

            // 将链接添加到文档并触发下载
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    </script>
</body>

</html>